In [121]:
import os
import pandas as pd
import numpy as py

df= pd.read_csv('QBStats_all.csv')

#rename columns
dict = {'lg': 'long',
       'loss': 'loss_yds'}
 
df.rename(columns=dict,
          inplace=True)

#create completion %
df['comp %'] = df['cmp'] / df['att'] 
df['comp %'] = round(df['comp %']*100,1)


#create yards per completion
df['ypc'] = df['yds'] / df['cmp']
df['ypc'] =round(df['ypc'], 1)


#Touchdown Passes per attempts % = Touchdown Passes / Pass Attempts
df['td_per_att'] = df['td'] / df['att']
df['td_per_att'] =round(df['td_per_att'], 3)


#Touchdown Passes per completion % = Touchdown Passes / Pass completions
df['td_per_cmp'] = df['td'] / df['cmp']
df['td_per_cmp'] =round(df['td_per_cmp'], 3)

#reargange columns
df = df[['qb', 'cmp', 'att', 'comp %', 'yds', 'td', 'int', 'rate',  'long', 'sack', 'game_points', 
          'ypa','ypc', 'td_per_cmp', 'td_per_att', 'loss_yds', 'home_away', 'year']]

#yds into a int
df['yds']=df.yds.astype(int)

#replace all NaN values with 0
df['int'] = df['int'].fillna(0)

#replace all sack NaN values with 0
df['sack'] = df['sack'].fillna(0)
#sack into int
df['sack']=df.sack.astype(int)

#remove all t from long
df['long'] = df['long'].str.replace('t', '')
#replace all NaN values with 0
df['long'] = df['long'].fillna(0)
#long into a int
df['long']=df.long.astype(int)

#replace all comp % NaN values with 0
df['comp %'] = df['comp %'].fillna(0)

#replace all rate NaN values with 0
df['rate'] = df['rate'].fillna(0)

#replace all ypc NaN values with 0
df['ypc'] = df['ypc'].fillna(0)

#replace all td per cmp NaN values with 0
df['td_per_cmp'] = df['td_per_cmp'].fillna(0)

#replace all td per att NaN values with 0
df['td_per_att'] = df['td_per_att'].fillna(0)

#replace all loss yds NaN values with 0
df['loss_yds'] = df['loss_yds'].fillna(0)
#loss_yds into int
df['loss_yds']=df.loss_yds.astype(int)

In [122]:
print(df)

                                  qb  cmp  att  comp %  yds  td int   rate  \
0           Boomer EsiasonB. Esiason   25   38    65.8  237   0   0   82.9
1            Jim HarbaughJ. Harbaugh   16   25    64.0  196   2   1   98.1
2               Paul JustinP. Justin    5    8    62.5   53   0   0   81.8
3               Jeff GeorgeJ. George   16   35    45.7  215   0   0   65.8
4            Kerry CollinsK. Collins   17   31    54.8  198   2   0   95.9
...                              ...  ...  ...     ...  ...  ..  ..    ...
13183             Alex SmithA. Smith   21   28    75.0  264   2   1  112.8
13184         Philip RiversP. Rivers   22   38    57.9  269   2   2   75.4
13185        Russell WilsonR. Wilson   19   32    59.4  258   1   0   95.6
13186        Trevone BoykinT. Boykin    4    6    66.7   42   0   0   86.8
13187  Colin KaepernickC. Kaepernick   17   22    77.3  215   1   0  122.3

       long  sack  game_points  ypa   ypc  td_per_cmp  td_per_att  loss_yds  \
0        20     2           13  6.2   9.5       0.000       0.000        11
1        35     0           20  7.8  12.2       0.125       0.080         0
2        30     1           20  6.6  10.6       0.000       0.000        11
3        55     7            6  6.1  13.4       0.000       0.000        53
4        30     4           29  6.4  11.6       0.118       0.065        12
...     ...   ...          ...  ...   ...         ...         ...       ...
13183    42     1           37  9.4  12.6       0.095       0.071         2
13184    23     0           27  7.1  12.2       0.091       0.053         0
13185    42     1           25  8.1  13.6       0.053       0.031         6
13186    19     1           25  7.0  10.5       0.000       0.000         5
13187    29     5           23  9.8  12.6       0.059       0.045        24

      home_away  year
0          away  1996
1          home  1996
2          home  1996
3          away  1996
4          home  1996
...         ...   ...
13183      away  2016
13184      home  2016
13185      away  2016
13186      away  2016
13187      home  2016

[13188 rows x 18 columns]

In [37]:
#check if any QBs didnt attempt a pass/null values for a qb.
df['att'].isnull().values.any()

False

In [89]:
df['long'].isnull().values.any()

False

In [39]:
print(type(df['sack']))

<class 'pandas.core.series.Series'>

In [124]:
df['year'].isnull().values.any()

False

In [45]:
df['int'].isnull().values.any()

False

In [78]:
df['int'].dtypes

dtype('O')

In [63]:
df['long'].dtypes

dtype('int32')

In [84]:
df['sack'].dtypes

dtype('float64')

In [126]:
#int into integer
df['int']=df.int.astype(int)

ValueError: invalid literal for int() with base 10: '--'